.App {
  text-align: center;
}

.slider-container {
  width: 20%;
  margin: 0 auto;
  padding-top: 20px;
}

/* Increase specificity to override default styles */
.carousel-root .carousel .slider-wrapper {
  overflow: hidden;
  border-radius: 5px;
}

.carousel-root .carousel .slider {
  display: flex;
}

.carousel-root .carousel .slide-container {
  min-width: 40px;
  max-width: 40px;
  flex-shrink: 0;
  transition: transform 0.5s ease-in-out;
  margin: 0 auto;
}

.carousel-root .carousel .slide-image {
  width: 100%;
  height: 30px;
  object-fit: cover;
}
